.card {
    width: 15em;
    margin: 1em auto;
}

.card img {
    width: 15em;
}

.card:hover {
    cursor: pointer;
    opacity: 0.6;
}
.card-favorite{
    position: relative;
}
.material-icons {
    position: absolute;
    z-index: 1;
    margin-left: 95px;
    color: red;
}