.card {
    width: 15em;
    margin: 1em auto;
}

.card img {
    width: 15em;
}

.card:hover {
    cursor: pointer;
    opacity: 0.6;
}

.material-icons {
    position: absolute;
    right: 0;
    color: red;
}