.card {
    width: 15em;
    margin: 1em auto;
}

.card img {
    width: 15em;
}

.card:hover {
    cursor: pointer;
    opacity: 0.6;
}
.card-favorite{
    position: relative;
    width: 15em;
    margin: 0 auto;
}

.material-icons {
    position: absolute;
    z-index: 1;
    right: 0;
    color: red;
}

.material-icons:hover{
    cursor: pointer;
}